---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/stylesheets/resumecards.css" | prepend:site.baseurl }}">
    <title>
      {% if site.data.resume.demo %}
        ResumeCards, a Markdown based resume generator.
      {% else %}
        {{ site.data.resume.name }}'s Resume
      {% endif %}
    </title>
  </head>
  <body>
    <div class="container resume-content">
      <nav class="navbar navbar-default hidden-print hidden-xs" role="navigation">
        <div class="resume-nav">
        <!--  <span>Built with <a href="https://github.com/ellekasai/resumecards" target="_blank">ResumeCards</a><span class="hidden-sm">, a Markdown based resume generator</span></span>. -->
          <div class="dropdown resume-dropdown">
            <button type="button" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Theme <span class="caret"></span></button>
            <ul class="dropdown-menu resume-dropdown-menu" role="menu">
              <li><a href="#" id="default">Default</a></li>
              <li><a href="#" id="red">Red</a></li>
              <li><a href="#" id="pink">Pink</a></li>
              <li><a href="#" id="brown">Brown</a></li>
              <li><a href="#" id="blue">Blue</a></li>
              <li><a href="#" id="purple">Purple</a></li>
              <li><a href="#" id="teal">Teal</a></li>
              <li><a href="#" id="green">Green</a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saveAsPdf">
            Save as PDF
          </button>
          <div class="modal fade" id="saveAsPdf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <img src="{{ "/images/resume_print_dialog.png" | prepend:site.baseurl }}" class="img-rounded" width="400" height="342">
                  <p>Warning: Currently, ResumeCards works the best on Chrome.<br>You need to adjust the CSS for Firefox/Safari.</p>
                </div>
                <div class="modal-footer">
                  <button onclick="window.print()" class="btn btn-primary">Open Print Dialog</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="col-sm-8 clearfix">
          <figure class="resume-pic">
            <img src="{{ site.data.resume.photo }}" class="img-rounded" width="120" height="120">
          </figure>
          <div class="resume-baseinfo">
            <h1>{{ site.data.resume.name }}</h1>
            <p>{{ site.data.resume.copy }}</p>
          </div>
        </div>
        <div class="col-sm-4 resume-contact">
          {% include nav.html %}
        </div>
      </div>
      <div class="row">
        {% for card in site.experiences %}
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><b>Work Experiences</b></h3>
              </div>
              <div class="panel-heading">
                <h3 class="panel-title">{{ card.type }}</h3>
              </div>
              <div class="panel-body">
                {% if card.heading %}
                  <h4>
                    {{ card.heading }}
                  </h4>
                {% endif %}
                {% if card.subheading %}
                  <p class="resume-subheading">
                    {{ card.subheading }}
                  </p>
                {% endif %}
                {% if card.duration %}
                  <p class="resume-duration">
                    {{ card.duration }}
                  </p>
                {% endif %}
                {% if card.location %}
                  <p class="resume-location">
                    {{ card.location }}
                  </p>
                {% endif %}
                {{ card.content }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
<!--rse2-->

      <div class="row">
        {% for edu in site.educations reversed %}
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><B>{{ edu.type }}</B></h3>
              </div>
              <div class="panel-body2">
                {% if edu.heading %}
                  <h4>
                    {{ edu.heading }}
                  </h4>
                {% endif %}
                {% if edu.subheading %}
                  <p class="resume-subheading">
                    {{ edu.subheading }}
                  </p>
                {% endif %}
                {% if edu.duration %}
                  <p class="resume-duration">
                    {{ edu.duration }}
                  </p>
                {% endif %}
                {% if edu.location %}
                  <p class="resume-location">
                    {{ edu.location }}
                  </p>
                {% endif %}
                {{ edu.content }}
              </div>
            </div>
          </div>
        {% endfor %}
        {% for skl in site.skills reversed %}
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><B>{{ skl.type }}</B></h3>
              </div>
              <div class="panel-body">
                <div class="col-sm-12 clearfix">
                  <figure class="logo-pic">
                    <img src="https://imgur.com/wxDkXwm.png" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px; alt='Azure Cloud computing'">
					<img src="https://imgur.com/3YxZHQP.png" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='Ansible'">
					<img src="https://imgur.com/KOXbAze.png" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='jenkins'">
					<img src="https://imgur.com/pogFpZI.png" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='Gitlab'">
					<img src="https://imgur.com/WDXLfOC.png" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='WAF'">
					<img src="https://imgur.com/eo3o7ix.jpg" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='docker'">
                    <img src="https://imgur.com/iwZvZ4s.png" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='kubernetes'">
                    <img src="https://imgur.com/dGSo9K6.jpg" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='linux'">
                    <img src="https://imgur.com/dGXhe4W.jpg" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='mysql'">
                    <img src="https://imgur.com/fdTK1ql.png" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='nginx'">
					<img src="https://imgur.com/aoX4ygG.png" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='Apache'">
                    <img src="https://imgur.com/c0PSWMw.jpg" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='python'">
                    <img src="https://imgur.com/hZk9BsQ.jpg" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='esxi'">
                    <img src="https://imgur.com/5Pbnq63.jpg" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='AD'">
                    <img src="https://imgur.com/VRZ95ZB.jpg" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='Bash'">
					<img src="https://imgur.com/QEdz9Gp.png" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='mongodb'">
                    <img src="https://imgur.com/6qF1oxP.png" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='iis'">
                    <img src="https://imgur.com/6d13awv.png" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='monitoring'">
                    <!--<img src="images/sql.png" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;"> -->
                    <img src="https://imgur.com/8ED6mqO.png" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='mikrotik'">
                    <img src="https://imgur.com/yjNIH6c.png" class="img-rounded" width="80" height="80" style="margin-bottom: 10px; margin-right: 5px;alt='cisco'">
                  </figure>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
      </div>
      <!--rse2end-->
    <script src="{{ "/javascripts/jquery.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/javascripts/bootstrap.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/javascripts/resumecards.js" | prepend:site.baseurl }}"></script>
    {% include scripts.html %}
    <div class="footer-copyright text-center py-3">© 2020 Rian Septiana, S.Tr.Kom | Powered By: 
      <a href="https://github.com/ellekasai/resumecards"> Jekyll Expert</a>
  </body>
</html>
