<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://gitlab.com/rian45/" target="_blank">@rian45</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/rian-septiana-215b17164" target="_blank">linkedin - rian septiana</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:45ranz@gmail.com" target="_blank">45ranz@gmail.com</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:082246646884" target="_blank">082246646884</a></p>
<p><i class="fa fa-whatsapp fa-lg fa-fw"></i> <a href="https://api.whatsapp.com/send?phone=089669590101&text=Hello" target="_blank">089669590101</a></p>
